@font-face {
    font-family: 'DIN Condensed';
    src: url('./fonts/D-DIN.woff') format('woff')
         url('./fonts/D-DIN.woff2') format('woff2')
         url('./fonts/D-DIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}

body {
    background-color: #000000;
    color: #fff;
    font-family: 'DIN Condensed', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 00;
    width: 90%;
    height: 100vh;
    top: 0;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 2px;
}

.container .image-item {
    width: 293px;
    height: 588px;
    position: relative;
    overflow: hidden;
}

.container .image-item img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.5s, filter 0.5s;
}


.container .image-item .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container .image-item .description {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2; /* Ensure the text is above the overlay */
    color: white;
    text-align: left;
    width: 80%;
    transition: transform 0.5s, filter 0.5s;

}

.container .image-item .description h2 {
    margin: 0;
    white-space: normal; /* Allows text to wrap */
    word-wrap: break-word; /* Breaks long words if necessary */
    line-height: 1.2em; /* Adjusts line height */
    height: 2.4em;
    font-family: "Poppins", sans-serif;
}

.large {
    width: 300px;
}

.small {
    width: 65%;
}

.description a {
    opacity: 0;
}

.image-item:hover img {
    transform: scale(1.1);
    filter: grayscale(100%) blur(5px);
}

.image-item:hover .description {
    transform: translate(-50%,-80%);
}

.image-item:hover .description h2,
.image-item:hover .description p,
.image-item:hover .description a {
    opacity: 1;
    transform: translateY(-10px);
}

.description p {
    font-weight: 100;
}

.description a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #03b1fc;
}

.description a span {
    margin-left: 5px;
}